---
---
<footer class="bg-white shadow">
  <div class="container mx-auto py-4 text-center" id="clock-container">
    <span id="clock"></span>
  </div>
  <script is:inline>
    const update = () => {
      document.getElementById('clock').textContent = new Date().toLocaleTimeString();
    };
    update();
    setInterval(update, 1000);
  </script>
</footer>
