---
const { title, thumbnail, href } = Astro.props;
---
<a href={href} class="group block overflow-hidden rounded border bg-white hover:shadow focus:shadow" data-reveal>
  <img src={thumbnail} alt={title} class="aspect-[3/2] w-full object-cover transition-transform duration-300 group-hover:scale-105" />
  <div class="p-4">
    <h3 class="text-lg font-medium">{title}</h3>
  </div>
</a>
